# Состав npm-пакета задаётся полем files в package.json: dist, README.md, LICENSE.
# Этот файл нужен, чтобы npm не использовал вместо него .gitignore, который исключает dist.
src/
tsconfig.json
tsconfig.esm.json
